$ff-primary: 'GeneralSans' , "General Sans", sans-serif;

$ff-body: 'GeneralSans-Regular', "General Sans Regular", sans-serif;
$ff-heading: 'GeneralSans-Bold', "General Sans Bold", sans-serif;
$ff-semibold: 'GeneralSans-SemiBold', "General Sans SemiBold", sans-serif;


@forward "./sass/reset.scss";
@forward "./sass/fonts/css/general-sans.css";
@forward "./sass/sizing.scss";
@forward "./sass/colors.scss";
@forward "./sass/layout.scss";

@use "./sass/colors.scss" as color;

:root {
  font-family: $ff-primary, Inter, Avenir, Helvetica, Arial, sans-serif;
  // font-size: 16px;
  // line-height: 24px;
  // font-weight: 400;
  // color-scheme: light dark;
  color: color.$neutral-200;
  background-color: color.$neutral-800;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

b {
  font-family: $ff-heading;
}


// Links

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
  transition: all .3s ease-in-out;
  position: relative;

  &:hover {
    color: color.$neutral-100;
    &::after {
      background: linear-gradient(270deg,color.$secondary,color.$primary);

    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 1px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    background: linear-gradient(270deg,color.$primary,color.$secondary);
  }
} 

.neutral-link {
  &::after {
    width: 0;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

// Buttons
.button {
  background-color: color.$neutral-800;
  color: color.$neutral-200;
  border:  1px solid color.$neutral-200;
  border-radius: 25px;
  padding: 1.25rem 1.5625rem;
}

// Forms
.dropdown {
  position: relative;
  display: inline-block;
  
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  // padding-top: 3.2rem;
  min-height: 6.25rem;
  // transform: translateY(-2.5rem);
  // width: 4.8125rem;
  z-index: 1;

  &:hover {
    display: block;
  }

  a {
    display: block;
  }
}


// Header

header {
  padding-top: 1.875rem;
  background-color: color.$neutral-800-transparent;
  nav {
    a {
      margin: 0 .7813rem;
    } 
  }

  .logo {
    font-family: $ff-semibold;
  }

  .mobile-nav-toggle {
    display: none;
    
    .icon-menu {
      transform: scaleX(-1);
    }
  }

}

@media (max-width: 50em) {
  * {
    transition: filter 0.1s ease-in-out;
  }
  .desktop {
    display: none;
  }

  .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

  header {
    .navigation-wrapper {
      position: fixed;
      transition: right 0.3s ease-in-out;
      // inset: 0 0 0 45%;
      height: 100vh;
      top: 0;
      right: -32.5rem;
      z-index: 8;
      background-color: #28282c;
      // border-left: 2px solid color.$neutral-200;
      -webkit-border-image: linear-gradient(to right bottom, color.$primary, color.$secondary) 1;
      border-image: linear-gradient(to right bottom, color.$primary, color.$secondary) 1;

      &[data-visible="true"] {
        right: 0;
      }

      a {
        font-size: 1.7em;
        margin: .7em 0;
      }
    } 

    #primary-navigation {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 5rem;
      padding-right: 4.3125rem;
      padding-left: 4.313rem;
     
    }

    .button {
      display: none;
    }

    .mobile-nav-toggle {
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5em;
      display: block;
      z-index: 9;

  
      .icon-menu {
        height: .875rem;
      }
  
      .icon-close {
        height: 1.25em;
        translate: translate(5px, -5px);
        -webkit-transform: translate(5px, -5px); /* Safari & Chrome */
        -moz-transform: translate(5px, -5px); /* Firefox */
        -ms-transform: translate(5px, -5px); /* Internet Explorer */
        -o-transform: translate(5px, -5px); 
      }
    }
  }

  
}




