@forward "./sass/reset.scss";
@forward "./sass/fonts/css/general-sans.css";
@forward "./sass/sizing.scss";
@forward "./sass/colors.scss";
@forward "./sass/layout.scss";
@forward "./sass/typography.scss";

@use "./sass/typography.scss" as typography;
@use "./sass/colors.scss" as color;
@use "./sass/layout.scss" as layout;
@use "./sass/sizing.scss" as sizing;

:root {
  font-family: typography.$ff-primary, Inter, Avenir, Helvetica, Arial, sans-serif;
  // font-size: 16px;
  // line-height: 24px;
  // font-weight: 400;
  // color-scheme: light dark;
  color: color.$neutral-200;
  background-color: color.$neutral-800;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

b {
  font-family: typography.$ff-heading;
}

p {
  margin-top: sizing.$mb-750;

  &:first-child {
    margin-top: 0;
  }
}

.underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 80%;
    left: 0;
    height: 1px;
    border-radius: 2px;
    background: linear-gradient(270deg,color.$secondary,color.$primary);
  }
  &.large {
    &::after {
      height: 3px;
    }
  }
}


// Links

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
  transition: all .3s ease-in-out;
  position: relative;

  &:hover {
    color: color.$neutral-100;
    &::after {
      background: linear-gradient(270deg,color.$secondary,color.$primary);

    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 1px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    background: linear-gradient(270deg,color.$primary,color.$secondary);
  }
}

section {
  padding: sizing.$s-1000 0;
}

.neutral-link {
  &::after {
    width: 0;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

// Buttons
.button {
  background-color: color.$neutral-800;
  color: color.$neutral-200;
  border:  2px solid transparent;
  border-radius: 25px;
  padding: 1.25rem 1.5625rem;

  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -3px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: color.$neutral-200;
  }
  &::after {
    border: none;
    width: 0;
    background: default;
  }

  

  &:hover {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -3px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(320deg,color.$secondary,color.$primary);
    } 
    &::after {
      width: 0;
    }
  }
}

.btn-neutral {
  border:  1px solid color.$neutral-200;

  &::before {
    background: none;
    z-index: initial;
    background: none;
  }

  &:hover {
    &::before {
      background: none;
      z-index: initial;
      background: none;
    }
  }
}


// Forms
.dropdown {
  position: relative;
  display: inline-block;
  
  &:hover {
    .dropdown-content {
      display: flex;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  // padding-top: 3.2rem;
  min-height: 6.25rem;
  // transform: translateY(-2.5rem);
  // width: 4.8125rem;
  z-index: 1;

  &:hover {
    display: block;
  }

  a {
    display: block;
  }
}


// Header

header {
  padding: 1.875rem layout.$container 1.875rem layout.$container;
  background-color: color.$neutral-800-transparent;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 7.875rem;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 1000;

  &.hidden {
    top: -7.875rem;
  }


  nav {
    a {
      margin: 0 .7813rem;
    } 
  }

  .logo {
    font-family: typography.$ff-semibold;
  }

  .mobile-nav-toggle {
    display: none;
    
    .icon-menu {
      transform: scaleX(-1);
    }
  }
}

// Hero

.hero {
  min-height: 100vh;
  padding: 6.25rem 0;


  .name {
    background: -webkit-linear-gradient(left, color.$primary, color.$secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    max-width: 60ch;
  }

  .punchline {
    perspective: 5000px;

  }

  .rotate {
    width: 265px;
    height: 4rem;
    transition: transform .8s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    transform: translateY(.9375rem);


    &.is-flipped {
      transform: rotateX(180deg);
    }

    span {
      position: absolute;
      // width: 100%;
      // height: 100%;
      // line-height: 260px;
      // color: white;
      // text-align: center;
      // font-weight: bold;
      // font-size: 40px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      // background: color.$neutral-800;

      &:nth-child(2) {
        transform: rotateX(180deg);
        background: -webkit-linear-gradient(left, color.$primary-alt, color.$secondary-alt);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.about {
  div:first-child {
    min-width: 62.5%;
    margin-right: layout.$gutter;

    p {
      max-width: 53ch;
    }

    ul {
      height: 7.5rem;
      margin: 1.0625rem 0 0 1.0625rem;

      li {
        margin-bottom: .375rem;
      }
    }
  }

  img {
    width: auto;
  }
}

@media (max-width: 50em) {
  * {
    transition: filter 0.1s ease-in-out;
  }
  .desktop {
    display: none;
  }

  .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

  header {
    padding: 1.875rem layout.$container-mobile 1.875rem layout.$container-mobile;
    
    &.hidden {
      top: -6.25rem !important;
    }
    .navigation-wrapper {
      position: fixed;
      // display: flex;
      // justify-content: space-between;
      // flex-direction: column;
      transition: right 0.3s ease-in-out;
      // inset: 0 0 0 45%;
      height: 100vh;
      top: 0;
      right: -32.5rem;
      z-index: 8;
      background-color: #28282c;
      // border-left: 2px solid color.$neutral-200;
      -webkit-border-image: linear-gradient(to right bottom, color.$primary, color.$secondary) 1;
      border-image: linear-gradient(to right bottom, color.$primary, color.$secondary) 1;

      &[data-visible="true"] {
        right: 0;
      }

      a {
        font-size: 1.7em;
        margin: .7em 0;
      }
    } 

    #primary-navigation {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 7rem 4.3125rem 3rem 4.3125rem;

     
    }

    .button {
      display: none;
    }

    .mobile-nav-toggle {
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5em;
      display: block;
      z-index: 9;

  
      .icon-menu {
        height: .875rem;
        margin-bottom: .375rem;
      }
  
      .icon-close {
        height: 1.25em;
        translate: translate(5px, -5px);
        -webkit-transform: translate(5px, -5px); /* Safari & Chrome */
        -moz-transform: translate(5px, -5px); /* Firefox */
        -ms-transform: translate(5px, -5px); /* Internet Explorer */
        -o-transform: translate(5px, -5px); 
      }
    }
  }
  
  .about {
    ul {
      height: auto !important;
      margin-bottom: sizing.$mb-850 !important;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .dropdown.mobile {
    display: block;

    .button:nth-child(2) {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: end;
      padding-right: 4.3125rem;
      border: none;
      gap: 1.25rem;
      background-color: inherit;

    }
  } 
  
  
}




