@font-face {
  font-family: "Moon 2.0";
  src: url("/font/Moon2.0-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Moon 2.0";
  src: url("/font/Moon2.0-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$red: #d6004c;
$container-black: #1d2225;
$body-black: #101315;

@media (min-height: 927px) {
  body {
    align-items: center;
    height: 100%;
  }

  .container {
    margin: 0 auto !important;
  }
}

.dark-theme {
  background-color: $body-black;
  color: #f4f2ff;

  .container {
    background-color: $container-black;

    .slider:before {
      background-image: url("/img/SVG/crescent-moon-svgrepo-com.svg");
      background-size: 15px 15px;
      background-position: 6px;
      background-color: #1d2225;
    }

    .social {
      color: #f4f2ff;
    }

    h3 {
      color: #696969;
    }
  }
}

.light-theme {
  background-color: #f4f6fb;
  color: initial;

  .container {
    background-color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    h3 {
      color: #9ea3b2;
    }

    .slider:before {
      background-image: url("/img/SVG/sun-svgrepo-com.svg");
      background-size: 18px 18px;
      background-position: 4px;
      background-color: white;
    }
  }
}

body {
  font-family: "Moon 2.0";
  letter-spacing: 0.1875rem;
  padding: 0;
  margin: 0;
  display: flex;

  .container {
    border-radius: 5px;
    width: 600px;
    margin: 18px auto;
    text-align: center;

    .switch__wrapper {
      text-align: right;
      margin: 20px;
    }

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;

      /* Hide default HTML checkbox */
      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: #101315;
        }

        &:focus + .slider {
          box-shadow: 0 0 1px #101315;
        }

        &:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          background-repeat: no-repeat;
        }

        /* Rounded sliders */
        &.round {
          border-radius: 34px;
        }

        &.round:before {
          border-radius: 50%;
        }
      }
    }

    .content__wrapper {
      padding: 0 50px 50px 50px;
    }

    #pic {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }

    h1 {
      font-weight: bold;
      margin: 1.6rem 0 0.4375rem 0;
    }

    h2 {
      font-size: 17px;
      color: $red;
      margin: 0;
    }

    .socials {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .social {
        text-decoration: none;
        display: flex;
        align-items: center;
        // flex-basis: 40%;
        margin: 0 12px;

        span {
          margin-left: 10px;
        }
      }
    }

    #skills__section {
      text-align: left;

      h3 {
        margin-top: 70px;
      }

      .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;

        .skill {
          margin-top: 8px;
          display: flex;
          align-items: center;

          span {
            margin-left: 10px;
          }
        }
      }
    }

    #contact__section {
      margin-top: 80px;
      margin-bottom: 20px;

      a {
        color: #f8f9fa;
        border: 1px solid transparent;
        // border-color: #f8f9fa;
        border-radius: 0.2rem;
        background-color: $red;
        padding: 13px 44px;
        text-decoration: none;

        &:hover {
          background-color: #9c093d;
        }

        &:active {
          background-color: #7e002c;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  body {
    .container {
      margin: 0;
      #skills__section {
        .skills {
          height: 250px;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  body {
    .container {
      .content__wrapper {
        padding: 0 0 50px 0;
      }

      #skills__section {
        text-align: center;
        .skills {
          align-items: center;
          display: flex;
          flex-direction: column;

          .skill {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  body {
    .container {
      #skills__section {
        .skills {
          height: 440px;
        }
      }
    }
  }
}